.Button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 39px;
    min-width: 100px;
    background: #00B4AD;
    color: #fff;
    font-size: 16px;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
}

.Button.forward{
    background: #00B4AD;
}

.Button.back{
    background: #DA2728;
}
.Button.disabled{
    opacity: 0.5;
}